@* YLA 28/04/20 Necessary injections needed to check if user is logged in and/or has a role *@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<MVCManukauTech.Areas.Identity.Data.MVCManukauTechUser> signInManager;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCManukauTech</title>

    @* CRC 26/04/2020 add the paypal integration to the layout page *@
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/StationCYLogoDraft.png" width="325" height="150" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @*CRC 29/3/20  add Catalog item to main menu*@
                        @*YLA 28/04/20  Catalog not under login so users can buy without needing an account*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalog"
                               asp-action="Index">Catalog</a>
                        </li>


                        @if (signInManager.IsSignedIn(User))
                        {

                            @*YLA 24/4/20  add Membership Type item to main menu*@
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Memberships"
                                   asp-action="Index">Membership Type</a>
                            </li>


                            @if (User.IsInRole("Admin"))
                            {
                                @*YLA 24/4/20  add admin control item to main menu*@
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin"
                                       asp-action="ListAllRoles">Manage Users</a>
                                </li>
                            }

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2020 - MVCManukauTech - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>