@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">
            <img src="~/images/StationCYLogoDraft2.png" width="558" height="236"/>
        </h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p><br /><br />
        <h1>This is a web application created by students of Manukau Institute of Technology</h1><br />
        <h2>About Station CY</h2><br />
        <p style="font-size: 15pt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Praesent elementum facilisis leo vel fringilla. Adipiscing tristique
            risus nec feugiat in fermentum. Scelerisque varius morbi enim nunc faucibus. Faucibus scelerisque eleifend donec pretium vulputate.
            Malesuada fames ac turpis egestas maecenas pharetra convallis posuere. Aenean et tortor at risus viverra adipiscing at in. Pharetra massa massa
            ultricies mi quis hendrerit. Duis convallis convallis tellus id interdum velit laoreet id. Sit amet mattis vulputate enim nulla aliquet porttitor lacus
            luctus. In pellentesque massa placerat duis ultricies lacus. Lectus nulla at volutpat diam ut venenatis tellus in metus. Tempor commodo ullamcorper
            a lacus. Neque egestas congue quisque egestas diam. Eget felis eget nunc lobortis mattis aliquam faucibus. Nam at lectus urna duis convallis convallis
            tellus id interdum. Tempus iaculis urna id volutpat. Nisl nisi scelerisque eu ultrices vitae.
        </p>


    </div>



<footer>

</footer>

